
<div class="landingpage">
    <div class="darken">
        <div class="logo">
            <%= link_to(image_tag("https://i.ibb.co/bNn4tMf/Copy-of-Copy-of-Copy-of-shaken-not-stirred-Logo.png"), new_login_path) %>
        </div>
    </div>
</div>