<div class="container">
<br>
    <h1 style="text-align: center"> All Beers </h1>
    <div class="index-container">
    <% @drinks.each do |drink| %>
        <div class="index-tile">
            <p><%= link_to "#{drink.name}", drink_path(drink)%>
            <p><%= drink.votes_for.size %> <%= 
                (drink.votes_for.size) == 1 ? 'Like' : 'Likes' %></p>
        </p>
        </div>
    <% end %>
    </div>
</div>
