<h1>My Profile</h1>

<p><%= @user.name %></p>
<p><%= @user.age %></p>


<h2>My Drinks</h2>
<% @user.my_drinks.each do |mine| %>
    <p><%= link_to mine.drink.name, drink_path(mine.drink.id)%></p>
  <% end %>


<h2>My Shopping Cart</h2>
    <% @user.my_cart.each do |userproduct| %>
    <p><%= "#{userproduct.product.name}: $#{userproduct.product.price}" %></p>
    <% end %>
