<div class="container">
<br>
    <h1 style="text-align: center"> Products Index </h1>

    <div class="index-container">
        <% @products.each do |p| %>
            <div class="index-tile">
            <h3><%= link_to p.name, product_path(p) %></h3>
                <p><%= p.price%></p>
                <%= link_to "Add to cart", add_path(p) %>
            </div>
        <% end %>
    </div>
</div>