<!DOCTYPE html>
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <header>
          <a class="logo" href="/"><img src="/images/logo.png" </a>
          <nav>
            <ul class="nav__links">
                <li><a href="#">Drinks</a></li>
                <li><a href="#">My Profile</a></li>
                <li><a href="#">Shopping List</a></li>
            </ul>
        </nav>
        <a class="cta" href="#">Contact</a>
        </header>
        <script src="" async defer></script>
    </body>
</html>